<!DOCTYPE html>

<html>
<head>
    <title>databases</title>
    <link  rel="stylesheet" type = "text/css" href="databases.css"/>
    <style>
        .button-container-div {
            text-align: center;
            /* border: 1px solid coral;
            height: 40vh; */
        }
    </style>
</head>
<body>
    
    <div class = "home">
        <button id = "home" onclick="window.location.href='../stubhome.html'"><img src = "graphics/thestublogo.png"></button>
    </div>

    <div>
        <h1 id="mpheading">database acess</h1>
    </div>
    <div>
        <p>find your database login information!</p>
    </div>
    <div class = "allbtn">
    <div class="button-container-div1">
        <span>
            <button id="jstor" onclick="window.open('http://www.jstor.org/logon/', '_blank')"><img src = "graphics/jstorwidget.png" ></button>
            <button id="jstor" onclick="window.open('http://www.jstor.org/logon/', '_blank')"><img src = "graphics/jstorinfo.png" ></button>

            <button id = "proquest" onclick="window.open('https://search.proquest.com?accountid=45022', '_blank')"><img src = "graphics/proquestwidget.png"></button>
            <button id = "proquest" onclick="window.open('https://search.proquest.com?accountid=45022', '_blank')"><img src = "graphics/proquestinfo.png"></button>
            
        </span>

    </div>

    <div class="button-container-div2">
        
        <span>

            <button id="ebsco" onclick="window.open('http://search.ebscohost.com/', '_blank')"><img src = "graphics/ebscowidget.png"></button>
            <button id="ebsco" onclick="window.open('http://search.ebscohost.com/', '_blank')"><img src = "graphics/ebscoinfo.png"></button>

            <button id="nyt" onclick="window.open('http://nytimes.com/passes', '_blank')"><img src = "graphics/nytwidget.png"></button>
            <button id="nyt" onclick="window.open('http://nytimes.com/passes', '_blank')"><img src = "graphics/nytinfo.png"></button>
    

        </span>
    </div>
    <div class="button-container-div3">
        <span>
            <button id="britannica" onclick="window.open('https://search.eb.com/', '_blank')"><img src = "graphics/britannicawidget.png"></button>
            <button id="britannica" onclick="window.open('https://search.eb.com/', '_blank')"><img src = "graphics/britannicainfo.png"></button>
      
            <button id="nettrekker" onclick="window.open('http://school.nettrekker.com', '_blank')"><img src = "graphics/nettrekkerwidget.png"></button>
            <button id="nettrekker" onclick="window.open('http://school.nettrekker.com', '_blank')"><img src = "graphics/nettrekkerinfo.png"></button>

        </span>

    </div>


    <script> src="index.js"</script>
</body>
</html>

