<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Quest</title>
    <link rel="stylesheet" href="public/style.css">

</head>
<body>
    <div>
        <h1>Welcome to Quiz Quest!</h1>
        <p>The perfect website for any situation - if you're bored, play a random trivia game. If you need to study, make your own flascards!</p>
        
    </div>

    <button id = "solotrivia"  onclick="window.location.href='solotrivia.html'">Play Trivia!</button>
    <button id = "home"  onclick="window.location.href='index.html'">Upload Flashcards!</button>
</body>
</html>