<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Available Sets</title>
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="/flashcards.css" />
</head>

<body>

    
    <% for(let i = 0; i<sets.length; i++){%>
        <td><%=sets[i].set_name%></td>
        <!-- <td><%=sets[i].set_string%></td> -->
        <td><a class="btn" href = "/select/<%= sets[i].set_name %>">view full set</a></td>        
        <br>
    <%}%>


<!-- Script -->
<script src="setdisplay.js"></script>
</body>
</html>