<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Available Sets</title>
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="/flashcards.css" />
</head>

<body>
    <div class = "home">
        <button id = "home" onclick="window.location.href='/index'"><img src = "graphics/thestublogo.png"></button>
        <div class = "userInfo">
            <button style = "border-radius: 2; border-color: darkgreen;" id="logoutBtn">Log Out></button>
            <script>
                document.getElementById("logoutBtn").addEventListener("click", function() {
                    // Make an AJAX request to the logout route
                    fetch("/logout", {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    })
                    .then(response => {
                        if (response.redirected) {
                            // Redirect the user to the login page
                            window.location.href = response.url;
                        }
                    })
                    .catch(error => {
                        console.error("Error logging out:", error);
                        // Handle error
                    });
                });
                </script>
                
            </div>
    </div>
    
    <% for(let i = 0; i<sets.length; i++){%>
        <td><%=sets[i].set_name%></td>
        <!-- <td><%=sets[i].set_string%></td> -->
        <td><a class="btn" href = "/select/<%= sets[i].set_name %>">view full set</a></td>        
        <br>
    <%}%>


<!-- Script -->
<script src="setdisplay.js"></script>
</body>
</html>