<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiTrivia</title>
</head>
<body>
   <head>
       <meta charset="UTF-8" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <title>metube</title>
       <!-- Compiled and minified CSS -->
       <link
           rel="stylesheet"
           href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
       />
       <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       <!-- <link rel="stylesheet" href="styles.css"> -->
       <link rel="stylesheet" href="">
   </head>
   <body>
       <div class="container">
           <div> 
               <div>
                   <h1 class= "material-icons large">videocam</h1>
                   <h1 class=" hleft">metube</h1>
               </div>

               <button class="btn center modal-trigger right" href="#openform">post video</button>
           </div>

           <div></div>
           <div class="section" id="list">
           <br></br>

           <h3 class = "left" >My Channel</h3>
               <table>
                   <tbody>   
                       <% for (let i = 0; i < feed.length; i++) { %>
                       <tr>
                           <td>
                               <img src="<%=feed[i].image%>" width = 70px>
                               
                           </td>

                           <td>
                               <div><h3 ><%= feed[i].name %></h3></div>
                               <div><p >Date: <%= feed[i].date %></p></div>
                               <div><p >Duration: <%= feed[i].duration %> minutes <%= feed[i].duration %> seconds</p></div>
                           </td>
                           <td>
                               <a class="btn" href="/video/<%= feed[i].video_id %>">
                                   <i class="material-icons ">edit</i>
                               </a>
                           </td>
                           <td>
                               <a class="btn" href = "/video/<%= feed[i].video_id %>/delete">
                                   <i class="material-icons ">delete</i>
                               </a>
                           </td>
                       </tr>
                       <% } %>
                   </tbody>
               </table>
               
           </div>
       

           <div class="modal" id="openform" enctype="multipart/form-data">
               <div class="modal-content">
                   <h1>upload video</h1>
                   <form action="/" method = "POST">
                       <label for="name">title: </label>
                       <input type="text" id="name" name="name">

                       <label for= "date">date:</label>
                       <input type = "date" id = "date" name = "date">

                       <div id="drop-zone"> 
                           <label for = "image">upload thumbnail: </label>
                           <input type="file" id="image" name="image">
                         </div> 

                       


                       <div class="center">
                           <input type="submit" value="upload video" class="btn deep-purple lighten-3 ">
                       </div>
                       <p>

                       </p>
                       
                   </form>
               </div>

           </div>
       
       <!-- Compiled and minified JavaScript -->
       <script
       src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
   ></script>
   <script>M.AutoInit();</script>
   </body>
</html>