<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <link rel="stylesheet" href="styles.css" />
        <title>Welcome to Solo Trivia</title>
    </head>
    <body>
        <div class="container center-align">
            <h1>Welcome to Solo Trivia</h1>
            <h3>How long do you want your quiz to be?</h3>
            <div>
                <button onclick="shortQuiz()" class ="short">short</button>
                <button onclick = "mediumQuiz()" class ="medium">medium</button>
                <button onclick = "longQuiz()" class ="long">long</button>

            </div>

            <div>
                <span class = "correct-score"></span>/
                <span class = "total-questions"></span>
            </div>

            <p class="question">
                <!-- The question will be dynamically added here. -->
            </p>
            <div class="options row">
                <!-- options will be dynamically added here -->
            </div>
        </div>
        
        <script src="trivia.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>
