<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="styles.css" />
        <link rel="stylesheet" href="databases.css" />

        <title>Welcome to Solo Trivia</title>
    </head>
    <body>
        <div class = "home">
            <button id = "home" onclick="window.location.href='/index'"><img src = "graphics/thestublogo.png"></button>

            <div class = "userInfo">
                <button onclick="toggleMusic()" id="musicToggle">
                    <i class="material-icons">pause_circle_filled</i>
                
                </button>
                <button style = "border-radius: 2; border-color: darkgreen;" id="logoutBtn">Log Out of <%=username%></button>
                <script>
                    document.getElementById("logoutBtn").addEventListener("click", function() {
                        // Make an AJAX request to the logout route
                        fetch("/logout", {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json"
                            }
                        })
                        .then(response => {
                            if (response.redirected) {
                                // Redirect the user to the login page
                                window.location.href = response.url;
                            }
                        })
                        .catch(error => {
                            console.error("Error logging out:", error);
                            // Handle error
                        });
                    });
                    </script>
                    
                </div>
        </div>
        <div class="container center-align">
            <!-- <embed id="bgMusic" src="music.mp3" loop="true" autostart="true" width="2" height="0"> -->
                <audio id = "bgMusic" autoplay loop>
                    <source src="music.mp3" type="audio/mpeg">
                </audio>
                <audio id = "correct">
                    <source src="correct.mp3" type="audio/mpeg">
                </audio>
                <audio id = "wrong">
                    <source src="wrong.mp3" type="audio/mpeg">
                </audio>

                <h1>Welcome to Solo Trivia</h1>
                

            <h3 class="userQuestion">How long do you want your quiz to be?</h3>
            <div>
                <button onclick="shortQuiz()" class="short">short</button>
                <button onclick="mediumQuiz()" class="medium">medium</button>
                <button onclick="longQuiz()" class="long">long</button>
            </div>
            <div class="display hidden">
                <div>
                    <span class="correct-score"></span>/
                    <span class="total-questions"></span>
                </div>
                <p class="question">
                    <!-- The question will be dynamically added here. -->
                </p>
                <div class="options row">
                    <!-- options will be dynamically added here -->
                </div>
            </div>
        </div>
        
        <script src="trivia.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>
