<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study</title>
     <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/study.css"/>
</head>
<body>
    <div class = "home">
        <button id = "home" onclick="window.location.href='/index'"><img src = "/graphics/thestublogo.png"></button>
        <div class = "userInfo">
            <button style = "border-radius: 2; border-color: darkgreen;" id="logoutBtn">Log Out</button>
            <script>
                document.getElementById("logoutBtn").addEventListener("click", function() {
                    // Make an AJAX request to the logout route
                    fetch("/logout", {
                        method: "GET",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    })
                    .then(response => {
                        if (response.redirected) {
                            // Redirect the user to the login page
                            window.location.href = response.url;
                        }
                    })
                    .catch(error => {
                        console.error("Error logging out:", error);
                        // Handle error
                    });
                });
                </script>
                
            </div>
    </div>
    <h1 style = "text-align: center;"><%= set[0].set_name %></h1> <!-- Corrected closing h1 tag -->

    <div class="flashcard_container">
        <button id="left">Left</button>
        <div id="flashcard">
            <h1 id="front"></h1> <!-- Corrected closing h1 tag -->
            <h1 id="back"></h1> <!-- Corrected closing h1 tag -->
        </div>
        <button id="right">Right</button>
    </div>
    <div class = "counterContainer">
        <p id = "counter"></p>
        <button id="flip">Flip</button> <!-- Added flip button -->
    </div>
   
    


    <p hidden id="sName"><%= set[0].set_name %></p>
    <p hidden id="sString"><%= set[0].set_string %></p>
    
    <script src="/study.js"></script>
</body>
</html>