<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study</title>
</head>
<body>
    
    <button id = "left">left</button>
    <button id = "right">right</button>


    <p hidden id = "sName"><%=set.set_name%></p>
    <p hidden id = "sString"><%=set.set_string%></p>
    
    <script src = "/loadedFlashcards.js"></script> 
    <script src = "/study.js"></script> 

</body>

</html>