<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study</title>
    <link  rel="stylesheet" href="/study.css"/>
</head>
<body>
    
    <td>
        <button id = "left">left</button>
        <div id = "flashcard">
            <h1 id = "front"><h1>
            <h1 id = "back"><h1>
        </div>
        <button id = "right">right</button>
    </td>
    



    <p hidden id = "sName"><%=set[0].set_name%></p>
    <p hidden id = "sString"><%=set[0].set_string%></p>
    
    <script src = "/study.js"></script> 

</body>

</html>