<!DOCTYPE html>
<html>
<head>
    <title>to-do list</title>
    
    <link rel="stylesheet" href="/todo.css">
</head>
<body>
    <div class="home">
        <button id="home" onclick="window.location.href='/index'">
            <img src="graphics/thestublogo.png" alt="Home">
        </button>
    </div>

    <div class="container">
        <div>
            <h1>to-do list</h1>
            <p>organize and assess your tasks</p>
            <div class="container">
                <div id="newtask" style="z-index: 1000 !important;">
                    <!-- <form id="todoform" action="/addTask" method="post"> -->
                    <input class="input-color" type="text" id="txt" placeholder="add tasks">
                    <!-- </form> -->
                    <button class="btn button-color" id="push">add</button>
            </div>
                <div id="tasks">

                </div>
            </div>
        </div>
    </div>

    <script src="todo.js"></script>
</body>
</html>
