<!DOCTYPE html>
<html>
<head>
    <title>to-do list</title>
    <link  rel="stylesheet" href="/todo.css">
    
</head>
<body>

  <div class = "home">
    <button id = "home" onclick="window.location.href='/index'"><img src = "graphics/thestublogo.png"></button>
    <div class = "userInfo">
        <button style = "border-radius: 2; border-color: darkgreen;" id="logoutBtn">Log Out of <%=username%></button>
        <script>
            document.getElementById("logoutBtn").addEventListener("click", function() {
                // Make an AJAX request to the logout route
                fetch("/logout", {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json"
                    }
                })
                .then(response => {
                    if (response.redirected) {
                        // Redirect the user to the login page
                        window.location.href = response.url;
                    }
                })
                .catch(error => {
                    console.error("Error logging out:", error);
                    // Handle error
                });
            });
            </script>
            
        </div>
</div>

  <div class = "container">
    <div>
        <h1>to-do list</h1>
        <p> organize and assess your tasks</p>
        

        <div class = "container">
        <div id = "newtask">
            <div class = "custom-margin">
                <input class = "input-color" type = "text" id = "txt" placeholder="add tasks">
            </div>
            <button class = "btn button-color"id="push">add</button>
         </div>

         <!-- <% try { %>
            <% if (tasks && tasks.length > 0) { %>
                <% for (let i = 0; i < tasks.length; i++) { %>
                    <div class="container">
                        <div class="row">
                            <span class="col s3 left-align" id="taskname"><%= tasks[i].task_name %></span>
                            <a href="#" class="col s2 btn right-align offset-s6 delete-task">
                                <i class="far fa-trash-alt"></i>done
                            </a>
                            <p></p>
                        </div>
                    </div>
                <% } %>
            <% } else { %>
                <p>not tasks available</p>
            <% } %>
        <% } catch (error) { %>
            <p>error rendering tasks: <%= error.message %></p>
        <% } %> -->

            
        <div id = "tasks">
        
        </div>
    </div>
</body>
  

</body>

<script src = "todo.js"></script>

</html>