<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Quest: Trivia</title>
    <link rel="stylesheet" href="public/style.css">

</head>
<body>
    <div>
        <h1>PLAY TRIVIA</h1>
        <p>Welcome to trivia! Select either single or multi-player below:</p>
    </div>

    <button id = "solotrivia"  onclick="window.location.href='solo_trivia.html'">Solo Trivia</button>
    <button id = "multiplayer trivia"  onclick="window.location.href='index.html'">Multiplayer Trivia!</button>
</body>
</html>