<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiTrivia</title>
</head>
<body>
   <head>
       <meta charset="UTF-8" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <title>Play Trivia against your Friends</title>
       <!-- Compiled and minified CSS -->
       <link
           rel="stylesheet"
           href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
       />
       <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
       <!-- <link rel="stylesheet" href="styles.css"> -->
       <link rel="stylesheet" href="">
   </head>
   <body>
       <div class="container">
           <div> 
            <button data-target="modal1" class="btn modal-trigger">Modal</button>
           </div>

           <!-- Modal Structure -->
            <div id="modal1" class="modal">
            <div class="modal-content">
            <h4>Upload your notes!</h4>
            <form action="#">
                <div class="file-field input-field">
                  <div class="btn">
                    <span>file</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
              </form>
            </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Upload</a>
        </div>
  </div>

           <div></div>
           <div class="section" id="list">
           <br></br>

           <h3 class = "left" >Create custom flashcards!</h3>
       
       <!-- Compiled and minified JavaScript -->
       <script
       src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
   ></script>
   <script>M.AutoInit();</script>
   </body>
</html>