#flashcard {
    border: 2px solid #ccc;
    border-radius: 10px;
}

#front {
    transform: rotateY(0deg);
}

#back {
    transform: rotateY(180deg);
    visibility: hidden;
}

#flashcard.flipped #front {
    transform: rotateY(-180deg);
    visibility: hidden;
}

#flashcard.flipped #back {
    transform: rotateY(0deg);
    visibility: visible;
}