body {
  background-color: #30a474;
   
}

.btn-custom {
  background-color: #f0f0f0 !important; /* Change to your desired button color */
}

.image-container {
  text-align: center;
  margin-top: 20px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}


