<!DOCTYPE html>

<html>

<head>
    <title>stub web</title>
    <link  rel="stylesheet" type = "text/css" href="index.css"/>
</head>

<body>

    <div>
        <h1 id="mpheading"><img src = "graphics/thestublogo.png"></h1>
    </div>

    <div>
        <p id="jspp">the bca student hub!</p>
    </div>
    
    <span class="buttoncon">
        
            <button id = "to-do" onclick="window.location.href='todo.html'"><img src = "graphics/todowidget.png" style="width:175px;height:auto;"></button>

            <button id = "databases" onclick="window.location.href='databases.html'"><img src = "graphics/databaseswidget.png" style="width:175px;height:auto;"></button>
       
            <button id = "pomodoro" onclick="window.location.href='pomodoro.html'"><img src = "graphics/pomowidget.png" style="width:175px;height:auto;"></button>
     
            <button id = "grade calculator" onclick="window.location.href='gc.html'"><img src = "graphics/calcwidget.png" style="width:175px;height:auto;"></button>
       
            <button id = "linkhub" onclick="window.location.href='linkhub.html'"><img src = "graphics/linkhubwidget.png" style="width:175px;height:auto;" ></button>
     
    </span>

</body>

<footer>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>
    <p> </p>

    <div class = "btnc">
        <button id = "github" onclick="window.location.href='https://github.com/liamstrauser/stubweb'"><img src = "graphics/githubwidget.png" style="width:150px;height:auto;"></button>
    </div>

    <p>thank you for using stub :) - Martina Lipczyk, Liam Strauser, Mia Subrahmanyam, & Yuto Takeda</p>
    
</footer>

<script> src="stubhome.js"</script>

</html>